⁎ {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
 

}
.content{
    
    padding: 50px;
    background: #fff;
    border: radius 20px;
    
}

.input{
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 10px;
    
    font-size: 17px;
    margin-bottom: 10px;
}
.form  button{
    width: 30%;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.form  button:hover{
    background: green;
}




