*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display :flex;
    background-color: #cccccc; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.wrapper{
    width: 600px;
    
    
}
.content{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    padding: 50px;
    border-style: inset;
    border-radius: 10px;

}
.content h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px,solid#cccccc;
    margin-bottom: 15px;
}



 


