*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display :flex;
    background-color: #cccccc; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper{
    width: 600px;
}
.content{
    background: linear-gradient(white,black);
    padding: 60px;
}


 


